<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>I18nDemo</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<ul>
  <li><%= link_to 'Русский', root_path(locale: :ru) %></li>
  <li><%= link_to 'English', root_path(locale: :en) %></li>
</ul>

<%= yield %>
</body>
</html>
